# Maven
/target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Spring Boot
spring-boot-devtools.properties

# macOS
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Icon?

# Bin
bin/

# Generated test output
**/target/test-classes/
